<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<!--全局配置文件-->
<configuration>
    <!--加载外部配置文件,在加载外部依赖文件的时候需要context命名空间-->
    <properties resource="bd.properties"></properties>

    <!--默认开启二级缓存-->
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="supportMethodsArguments" value="true"/>
        </plugin>
    </plugins>

    <!--可以指定 environments的default为：development或者test,来切换连接的库环境-->
    <environments default="test">
        <!--开发环境-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--type指定连接池 POOLED：指定mybatis的连接池,UNPOOLED:不使用连接池,JNDI:JNDI 连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driverClassName}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>

        <!--测试环境-->
        <environment id="test">
            <transactionManager type="JDBC"/>
            <!--type指定连接池 POOLED：指定mybatis的连接池,UNPOOLED:不使用连接池,JNDI:JNDI 连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driverClassName}"/>
                <property name="url" value="${mysql.url_test}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>

    </environments>

    <!--设置映射器-->
    <mappers>
        <!--4中映射方式
        1：<mapper resource="StudentMapper"></mapper>
        2：<mapper url=""></mapper> 磁盘的绝对路径(基本不用)
        3: <mapper class="com.sunny.mapper.StudentMapper"></mapper>
        4: <package name="com.sunny.mapper"/> 直接指定到包,
        -->
        <!--<mapper class="com.sunny.mapper.StudentMapper"></mapper>-->
        <package name="com.sunny.mapper"/>
    </mappers>
</configuration>